.taskbar { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 900px;
    height: 48px;
    background: rgba(117, 117, 117, 0.2);
    background-blend-mode: normal, color, luminosity;
    backdrop-filter: blur(30px);
}

.taskIcon {
    width: 23px;
    height: 23px;
    margin-right: 23px;
}